#test-orders-support-btn,
#test-orders-docs-btn {
    line-height: 22px;
    float: right;
    margin-left: 12px;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 6;
}

#test-orders-progress {
    max-width: 500px;
}
